:root{
        --spacing: 30px;
        --nav-spacing: 20px;
        --shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        --border-radius: 10px;
        --font-main: Arial, sans-serif;
        --font-titles: 'Times New Roman', serif;
    }

    *{
        margin: 0;
        box-sizing: border-box;
        }

header {
    background: var(--surface);
    display: flex;
    align-items: center;
    padding: var(--nav-spacing) var(--spacing);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: var(--spacing);
}

.logo img {
    width: 100px;
    height: auto;
}

.logo a {
    text-decoration: none;
    display: block;
}


body {
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
    background: var(--bg);
    color: var(--text);
}

[data-theme="light"] {
    --bg: #FFFFFF;
    --surface: #FFFFFF;
    --border: #DDE5D2;
    --text: #1E2415;
    --text-muted: #5F6D4A;
    --accent: #8DB255;
    --accent-alt: #F7F9F2;
    --shadow: rgba(0, 0, 0, .4);
    --input-bg: #FFFFFF;
    --cards: #F7F9F2;
    --primary-button: #3F5910;
    --primary-hover: #567A16;
}

[data-theme="dark"] {
    --bg: #0E1208;
    --surface: #242E1A;
    --border: #364227;
    --text: #F7F9F2;
    --text-muted: #567A16;
    --accent: #8DB255;
    --accent-alt: #F7F9F2;
    --shadow: rgba(0, 0, 0, .4);
    --input-bg: #242E1A;
    --cards: #1C2413;
    --primary-button: #3F5910;
    --primary-hover: #567A16;
}

.navigation {
    background-color: var(--nav-bg);
    color: var(--text);
    --nav-bg: var(--accent);
    --nav-text: var(--text);
    --nav-hover: var(--primary-hover);
    flex: 1;
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.navigation li {
    margin: 0;
    padding: 0;
}


.navigation a {
    display: block;
    text-decoration: none;
    color: var(--text);
    padding: 10px 15px;
    transition: transform 0.3s ease;
}

.navigation a.active {
    background: var(--primary-button);
    color: white;
    border-radius: var(--border-radius);
}

.navigation a:hover {
    background-color: var(--primary-hover);
    font-weight: bold;
    color: var(--text);

    transform: scale(1.05);
}


.main-content{ 
    background-color: var(--cards); 
    padding: var(--spacing); 
    border-radius: var(--border-radius); 
    box-shadow: var(--shadow); 

    margin: var(--spacing) auto;
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    align-items: center;
    text-align: center;
} 

.main-content h1 {
    
    font-family: var(--font-titles); 
    text-align: center; 
    margin-bottom: var(--spacing);
    color: var(--text);
}
.main-content p {
    line-height: 1.6;
    margin-bottom: var(--spacing);
    align-items: center;
    text-align: center;
}

.main-content h2,
.main-content h3 { 
    font-family: var(--font-titles); 
    align-items: center;
    justify-content: center;
    margin-top: var(--spacing);
    line-height: 1.5;
}
            .hero-section {
                background-color: var(--accent-alt);
                padding: var(--spacing);
                text-align: center;
                        }

                        .hero-section h1 {
                            font-size: 3rem;
                            font-family: var(--font-titles);
                            margin-bottom: var(--spacing);
                        }
                        
                        .hero-section a{
                            display: block;
                            text-decoration: none;
                            color: var(--text);
                            padding: 10px 15px;
                            transition: transform 0.3s ease;
                        }

                        .hero-section a:hover {
                            background-color: var(--primary-hover);
                            font-weight: bold;
                            color: var(--text);

                            transform: scale(1.05);
                        }

            .featured-books{
                display:flex;
                flex-wrap: wrap;
                gap:var(--spacing);
                        }

                        .featured-books .book{
                            background-color: var(--cards);
                            padding: var(--spacing);
                            border-radius: var(--border-radius);
                            box-shadow: var(--shadow);
                            text-align: center;
                        }

            .book-categories{
                display:flex;
                flex-wrap:wrap;
                gap:var(--spacing);

                
                }
                        .book-categories ul{
                            display:flex;
                            flex-wrap:wrap;
                            background-color: var(--cards);
                            padding: var(--spacing);
                            text-align: center;

                            

                            list-style: none;
                            text-decoration: none;

                        }

                        .book-categories li{
                            margin: 0;
                            padding: 0;
                        }

                        .book-categories a {
                            display: block;
                            text-decoration: none;
                            color: var(--text);
                            padding: 10px 15px;
                            transition: transform 0.3s ease;
                                        }

                            .book-categories a.active {
                            background: var(--primary-button);
                            color: white;
                            border-radius: var(--border-radius);

                                        }

                        .book-categories a:hover {
                            background-color: var(--primary-hover);
                            font-weight: bold;
                            color: var(--text);

                            transform: scale(1.05);
    
                                        }
                        .book-categories .card-category{
                            display:flex;
                            flex-wrap: wrap;
                            background-color: var(--cards);

                            border-radius: var(--border-radius);
                            box-shadow: var(--shadow);
                            text-align: center;

                            margin-left: 10px;

                                        }


.banner { 
    background-color: var(--primary-button); 
    color: var(--text); 
    padding: var(--spacing); 
 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    align-items: center; 
} 
 
.banner h1 { 
    font-size: 3.5rem; 
    font-family: var(--font-titles); 
} 

.contact-info   {
    background-color: var(--cards); 
    padding: var(--spacing); 

    margin: var(--spacing) auto;
    margin-left: var(--spacing);
    margin-right: var(--spacing);

    list-style: none;
    text-decoration: none;
}

.contact-info ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.contact-info li {
    margin: 0;
    padding: 0;
}


.contact-info a {
    display: block;
    text-decoration: none;
    color: var(--text);
    padding: 10px 15px;
    transition: transform 0.3s ease;
}

.contact-info a.active {
    background: var(--primary-button);
    color: white;
    border-radius: var(--border-radius);
}

.contact-info a:hover {
    background-color: var(--primary-hover);
    font-weight: bold;
    color: var(--text);

    transform: scale(1.05);
}


.footer { 
    background-color: var(--surface); 
    color: var(--text-muted); 
    text-align: center; 
    padding: var(--spacing); 
    border-radius: var(--border-radius); 
    box-shadow: var(--shadow);
    margin-top: var(--spacing);
    margin: var(--spacing) auto;
    margin-left: var(--spacing);
    margin-right: var(--spacing);
} 

.footer footer-nav {
    display: flex;
    justify-content: center;
    gap: var(--nav-spacing);
    margin-top: var(--spacing);

    list-style: none;
    text-decoration: none;
}