:root{
        --spacing: 30px;
        --nav-spacing: 20px;
        --shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        --border-radius: 10px;
        --font-main: Arial, sans-serif;
        --font-titles: 'Times New Roman', serif;
    }

    *{
        margin: 0;
        box-sizing: border-box;
        }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-spacing) var(--spacing);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 60px;
    height: auto;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
    background: var(--bg);
    color: var(--text);
}

[data-theme="light"] {
    --bg: #FFFFFF;
    --surface: #FFFFFF;
    --border: #DDE5D2;
    --text: #1E2415;
    --text-muted: #5F6D4A;
    --accent: #8DB255;
    --accent-alt: #F7F9F2;
    --shadow: rgba(0, 0, 0, .4);
    --input-bg: #FFFFFF;
    --cards: #F7F9F2;
    --primary-button: #3F5910;
    --primary-hover: #567A16;
}

[data-theme="dark"] {
    --bg: #0E1208;
    --surface: #242E1A;
    --border: #364227;
    --text: #F7F9F2;
    --text-muted: #567A16;
    --accent: #8DB255;
    --accent-alt: #F7F9F2;
    --shadow: rgba(0, 0, 0, .4);
    --input-bg: #242E1A;
    --cards: #1C2413;
    --primary-button: #3F5910;
    --primary-hover: #567A16;
}

.navigation {
    --nav-bg: var(--accent);
    --nav-text: var(--text);
    --nav-hover: var(--primary-hover);
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
    padding: 0;
     align-items: center;
    justify-content: center;
}

.navigation li {
    margin: 0;
    padding: 0;
}


.navigation a {
    display: block;
    text-decoration: none;
    color: var(--text);
    padding: 10px 15px;
    transition: transform 0.3s ease;
}

.navigation a:hover {
    background-color: var(--primary-hover);
    font-weight: bold;
    color: var(--text);

    transform: scale(1.05);
}


.hero-section {
    background-color: var(--accent-alt);
    padding: var(--spacing);
    text-align: center;
}

.featured-books{
    display:flex;
    flex-wrap: wrap;
    gap:var(--spacing);
}

.book-categories{
    display:flex;
    flex-wrap:wrap;
    gap:var(--spacing);
}

